:root {
    --font-color : #00B0FF;
    --main-font : #696969;
    --off-white: #f3f4f6;
}
img {
    max-width : 400px;
    margin : 1rem auto;
    display: block;
}

li {
    list-style: none;
    padding: 0;
}

section {
    margin: 0 6rem;
    margin-top: 0;
    padding-top: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    color : white;
    text-decoration: none;
    display: flex;
    padding: 1rem 1rem;
    font-size: 17px;
}

.navigation-center {
    display : center;
    text-align: center;
}

.main {
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-font);
}

strong {
    color: var(--font-color);
}

body {
    font-family: "Montserrat", sans-serif;
}

.list-top {
    margin-top: -15px;
    padding-right: 5%;
}

nav {
    background-color: var(--font-color);
    margin: 0 6rem;
    margin-top : -30px;
}

.navigation-inline {
    display:inline-block;
    padding: 0 8px; 
    padding-bottom: 10px;
}

.heading {
    color: white;
    text-align: left;
    padding: 1rem 2rem;
    margin-bottom: -20px;
    padding-top: 30px;
}

.navigation-right {
    text-align : right;
}

.top-bottom {
    background-color: var(--off-white);
    padding : 10px;
}


footer {
    background-color: var(--font-color);
    color : white;
    text-align: center;
    padding : 1rem;
    margin: 10px 6rem;
    margin-bottom:-20px;
}