:root {
    --font-color : #00B0FF;
    --main-font : #696969;
    --off-white: #f3f4f6;
}
img {
    max-width : 300px;
    margin : auto;
    display: block;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

.projectList {
    align-items: left;
}

small {
    align-items: left;
}
section {
    margin: auto;
    width: 80%;
    margin-top: 0;
    padding-top: 0;
    font-family: "Montserrat", sans-serif;
}

p {
    text-align: justify;
    text-align: center;
    margin : 3px;
}

a {
    color : white;
    text-decoration: none;
    display: flex;
    padding: 10px 2px;
    font-size: 17px;
}

.navigation-center {
    display : center;
    text-align: center;
}

.main {
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-font);
}

strong {
    color: var(--font-color);
}

body {
    font-family: "Montserrat", sans-serif;
}

.list-top {
    margin-top: -15px;
    padding-right: 5%;
}

nav {
    background-color: var(--font-color);
    margin: auto;
    width: 90%;
    margin-top : -30px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; 
}

.navigation-inline {
    display:inline-block;
    padding: 0 8px; 
    padding-bottom: 10px;
}

.heading {
    color: white;
    text-align: left;
    padding: 1rem 2rem;
    margin-bottom: -20px;
    margin-right: 10px;
    padding-top: 30px;
}

.navigation-right {
    text-align : right;
}

.top-bottom {
    background-color: var(--off-white);
    padding : 10px;
}

.box1 {
    color: white;
    box-sizing: border-box;
    padding : .2rem;
    margin : 1rem;
    background-color: var(--font-color);
    border-radius: 1rem;
    border: 1px solid var(--off-white);
    padding: 0 .5rem;
    
}

.box2 {
    box-sizing: border-box;
    padding : .2rem;
    margin : 1rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid var(--font-color);
    padding: 0 .5rem;
}

.box2 a {
    color: var(--font-color)
}

footer {
    background-color: var(--font-color);
    color : white;
    align-items: center;
    text-align: center;
    padding : 1rem;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    margin-bottom:-20px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
